.formLink {
    color: #f7fdff;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;

    text-align: center;
}

.authForm {
    max-width: 700px;
    height: fit-content;

    padding: 30px 50px;

    color: #f7fdff;
    background-color: #15202B;
    box-shadow: 20px 10px 10px #353C4E;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.authContainer{
    width: 100%;
    height: 100vh;

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.authContainer h3 {
    font-size: 30px;
}