.enterLinkContainer{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.enterLinkContainer *{
    width: 80%;
    margin-bottom: 20px;
}
.enterLinkContainer h4{
     margin-bottom: 30px;
}
.channelsContainer {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.postWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tape {
    min-height: 100vh;
    height: fit-content;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    padding-top: 130px;
    padding-bottom: 200px;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background-image: url("https://i.pinimg.com/564x/c4/e1/23/c4e123cfefe1b239b804c9820c2c7724.jpg");
    background-attachment: fixed;
    background-size: cover;
}