.tape {
    margin-top: 120px;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sideBar {
    position: fixed;
    background-color: #b99f9f;
    height: 100%;
    width: 30%;
}
.container {
    height: fit-content;

    display: grid;
    grid-template-rows: 1fr 2.5fr;
}
.addChannelButton {
    padding: 7px 12px;
    width: 200px;
    text-align: center;
    font-size: 25px;
    background-color: #737373;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 30px;

    transition: linear 0.2s;
}
.addChannelButton:hover {
    background-color: #c7c7c7;
}
.sideBarContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px;
    margin: 100px 0;
    height: 100%;
    width: 90%;
}
.enterLinkContainer{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.enterLinkContainer *{
    width: 80%;
}
.channelsContainer {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
}